{% load static %}
<!DOCTYPE html>
<html>
<script src="{% static 'admin/js/jscolor.min.js' %}"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

<body>
  {% block content %}
  <form class="container form m-3 p-2" action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input class="form-control" type="file" name="image_file" id="form_input1">

    <p>Text color: <input name="text_color_rgba" class="form-control" data-jscolor="{}" value="{{text_color_rgba}}"></p>
    <span>{{text_color_rgba}}</span>
    <p>rgba: <input name="rgba_color" class="form-control" id="first_rgba" data-jscolor="{}" value="{{rgba_color}}"></p>
    <span>{{rgba_color}}</span>
    <p>outer border rgba: <input name="outer_rgba_color" class="form-control" id="outer_rgba_color" data-jscolor="{}" value="{{outer_rgba_color}}"></p>
    <span>{{outer_rgba_color}}</span>

    <!-- Optional fields:
    <p>hex: <input class="form-control" data-jscolor="{required:false, format:'hex'}"></p>
    <p>rgba: <input class="form-control" data-jscolor="{required:false, format:'rgba'}"></p> -->

    <input class="btn btn-primary" type="submit" value="submit" />
  </form>
  <script>
    // let's set defaults for all color pickers
    jscolor.presets.default = {
      width: 141, // make the picker a little narrower
      position: 'bottom', // position it to the bottom of the target
      previewPosition: 'right', // display color preview on the right
      previewSize: 40, // make the color preview bigger
      palette: [
        '#000000', '#7d7d7d', '#870014', '#ec1c23', '#ff7e26',
        '#fef100', '#22b14b', '#00a1e7', '#3f47cc', '#a349a4',
        '#ffffff', '#c3c3c3', '#b87957', '#feaec9', '#ffc80d',
        '#eee3af', '#b5e61d', '#99d9ea', '#7092be', '#c8bfe7',
      ],
    };
  </script>

<div class="d-flex flex-wrap">
  {% for url in image_urls %}

  {% if url %}
    <div class="">
      <img class="test " src="{{ url }}" style="max-height: 500px;" />
      <button class="btn btn-primary ">
        <span ><a href="{{url}}" class="text-white" download>Download</a></span>
      </button>
    </div>
  {% endif %}
  {% endfor %}
</div>

  {% endblock %}

</body>

</html>